:root {
  --sage: #a3b18a;
  --stone: #f2f1ed;
  --charcoal: #344e41;
  --warm-white: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--stone);
  font-family: "Quicksand", sans-serif;
  color: var(--charcoal);
  line-height: 1.6;
}

h1,
.logo {
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px 8%;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  letter-spacing: 5px;
}

.nav-links a {
  text-decoration: none;
  color: var(--charcoal);
  margin-left: 30px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.btn-reserve {
  background: var(--sage);
  color: white !important;
  padding: 12px 25px;
  border-radius: 50px;
}

/* Hero Section */
.hero {
  padding: 20px 8% 80px;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 5%;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 30px;
  color: var(--charcoal);
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 40px;
  color: #666;
  max-width: 400px;
}

.hero-visual {
  flex: 1.2;
}

.hero-visual img {
  width: 100%;
  border-radius: 300px 300px 0 0; /* Elegant Arch Shape */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.btn-primary {
  display: inline-block;
  background: var(--black);
  background-color: aliceblue;
  color: rgb(1, 20, 11);
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 2px;
}
/* Offerings */
.offerings {
  display: flex;
  gap: 40px;
  padding: 100px 8%;
  background-color: var(--warm-white);
}

.offering-item {
  flex: 1;
}

.number {
  font-family: "Tenor Sans", sans-serif;
  color: var(--sage);
  font-size: 1.2rem;
  display: block;
  margin-bottom: 10px;
}

.offering-item h3 {
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.offering-item p {
  font-size: 0.95rem;
  color: #777;
}

/* Responsive */
@media (max-width: 900px) {
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 3rem;
    margin-top: 40px;
  }
  .hero-content p {
    margin: 20px auto 40px;
  }
}
