a {
  text-decoration: none;
}
a:link {
  color: red;
}
a:visited {
  color: chartreuse;
}
a:hover {
  color: chocolate;
}
a:focus {
  outline-color: blueviolet;
  outline: 3px;
}
a:active {
  color: yellow;
}
